DEBUG=False
PROJECT_NAME=auth

#IDE
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret
POSTGRES_DB=auth_db

REDIS_HOST=localhost
REDIS_PORT=6379

#Cache
FILM_CACHE_EXPIRE_IN_SECONDS=300
PERSON_CACHE_EXPIRE_IN_SECONDS=300
GENRE_CACHE_EXPIRE_IN_SECONDS=300

SQL_ENGINE=django.db.backends.postgresql_psycopg2

# DEBUG INFO WARNING ERROR CRITICAL
LOG_LEVEL=DEBUG